@using DragonSouvenirs.Web.Components
@model DragonSouvenirs.Web.ViewModels.Orders.CreateOrderViewModel
@{
    ViewData["Title"] = "Create Order";
}
<h1>@ViewData["Title"]</h1>

<div asp></div>

@await Component.InvokeAsync(typeof(CartProductsComponent))
<form enctype="multipart/form-data"
      asp-controller="Orders"
      asp-action="Create"
      method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-group align-content-center">
                <label asp-for="@Model.UserFullName">Username</label>
                <input class="form-control"
                       asp-for="@Model.UserFullName"
                       value="@Model.UserFullName">
                <span asp-validation-for="@Model.UserFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.UserEmail">Email</label>
                <input class="form-control"
                       asp-for="@Model.UserEmail"
                       value="@Model.UserEmail">
                <span asp-validation-for="@Model.UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.InvoiceNumber">Phone number</label>
                <input class="form-control"
                       asp-for="@Model.InvoiceNumber"
                       value="@Model.InvoiceNumber">
                <span asp-validation-for="@Model.InvoiceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ShippingAddress">Shipping address</label>
                <input class="form-control"
                       asp-for="@Model.ShippingAddress"
                       value="@Model.ShippingAddress">
                <span asp-validation-for="@Model.ShippingAddress" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-1">
            <div>
                <a asp-controller="Cart"
                   asp-action="Index"
                   class="btn btn-secondary">Back</a>
            </div>
        </div>
        <div class="form-group col-sm-1">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>