@using DragonSouvenirs.Web.Components
@model DragonSouvenirs.Web.ViewModels.Orders.ConfirmOrderViewModel
@{
    ViewData["Title"] = "Order Summary";
}
<h1>@ViewData["Title"]</h1>

@await Component.InvokeAsync(typeof(OrderProductsComponent))


<div class="row py-5 p-4 bg-white rounded shadow-sm justify-content-center text-center">
    <div class="col-lg-6">
        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
        <div class="p-4">
            <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
            <ul class="list-unstyled mb-4">
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Username</strong>
                    <strong>@Model.UserUserName</strong>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Shipping address</strong>
                    <strong>@Model.ShippingAddress</strong>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Order Subtotal </strong>
                    <strong>@($"{Model.CartTotalPrice:f2}") лв.</strong>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Shipping and handling</strong>
                    <strong>@Model.DeliveryPrice лв.</strong>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Total</strong>
                    <h5 class="font-weight-bold">
                        @($"{(Model.CartTotalPrice + Model.DeliveryPrice):f2}") лв.
                    </h5>
                </li>
            </ul>
            <a 
                class="btn btn-dark rounded-pill py-2 btn-block"
                asp-controller="Orders"
                asp-action="ConfirmOrder">Procceed to checkout</a>
        </div>
    </div>
</div>
