@using DragonSouvenirs.Web.Components
@model DragonSouvenirs.Web.ViewModels.Orders.ConfirmOrderViewModel
@{
    ViewData["Title"] = "Обобщение на поръчката";
}
<h2 align="center" class="mt-2 mb-3">@ViewData["Title"]</h2>

@await Component.InvokeAsync(typeof(CartProductsComponent))

<form enctype="multipart/form-data"
      asp-controller="Orders"
      asp-action="Summary"
      method="post">
    <div class="row py-5 p-4 bg-white rounded shadow-sm justify-content-center text-center">
        <div class="col-lg-6">
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">
                Обобщение
            </div>
            <div class="p-4">
                <ul class="list-unstyled mb-4">
                    <li style="overflow-x:auto" align="left" class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Име и Фамилия</strong>
                        <h5>@Model.ClientFullName</h5>
                    </li>
                    <li style="overflow-x:auto"  align="left" class=" d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Имейл</strong>
                        <h5>@Model.UserEmail</h5>
                    </li>
                    <li style="overflow-x:auto" align="left" class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Тел. Номер</strong>
                        <h5>@Model.InvoiceNumber</h5>
                    </li>
                    <li style="overflow-x:auto" align="left" class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Адрес на доставка</strong>
                        <h5>@Model.ShippingAddress</h5>
                    </li>
                    <li style="overflow-x:auto" align="left" class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Вид доставка</strong>
                        <h5>@Model.DeliveryType</h5>
                    </li>
                    <li style="overflow-x:auto" align="left" class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Куриер</strong>
                        <h5>@Model.OfficeBrand</h5>
                    </li>
                    @if (@Model.Notes != null)
                    {
                        <li style="overflow-x:auto" align="left" class="d-flex justify-content-between py-3 border-bottom">
                            <strong class="text-muted">Доп. информация</strong>
                            <h5>@Model.Notes</h5>
                        </li>
                    }
                    <li style="overflow-x:auto" class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Очаквана дата за доставка</strong>
                        <h5>@Model.ExpectedDeliveryDate.ToString("yyyy MMMM d", new System.Globalization.CultureInfo("bg-BG"))</h5>
                    </li>
                    <li style="overflow-x:auto" align="left" class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Цена </strong>
                        <h5>@($"{Model.CartTotalPrice:f2}") лв.</h5>
                    </li>
                    <li style="overflow-x:auto" align="left" class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Доставка</strong>
                        <h5>@Model.DeliveryPrice лв.</h5>
                    </li>
                    <li style="overflow-x:auto" align="left" class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Total</strong>
                        <h5 class="font-weight-bold">
                            @($"{(Model.CartTotalPrice + Model.DeliveryPrice):f2}") лв.
                        </h5>
                    </li>
                </ul>
                <div>
                    <button class="btn btn-dark rounded-pill py-2 btn-block"
                            type="submit">
                        Завърши поръчка
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>