@using System.Linq
@using DragonSouvenirs.Web.ViewModels.Administration.Products
@model DragonSouvenirs.Web.ViewModels.Administration.Products.AllProductsViewModel
@{
    this.ViewData["Title"] = $"Products ({this.Model.Products.Count()})";
}
<h1>@this.ViewData["Title"]</h1>

@if (this.TempData["fail"] != null)
{
    <div class="alert alert-danger" role="alert">
        @this.TempData["fail"]
    </div>
}
@if (this.TempData["success"] != null)
{
    <div class="alert alert-success" role="alert">
        @this.TempData["success"]
    </div>
}

<div class="p-2">
    <a class="btn btn-success"
       asp-area="Administration"
       asp-controller="Products"
       asp-action="Create">Create new</a>
</div>

<table class="table table-hover table-bordered text-center">
    <thead class="thead-dark">
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">@nameof(AdminProductViewModel.Title)</th>
            <th scope="col">@nameof(AdminProductViewModel.Name)</th>
            <th scope="col">@nameof(AdminProductViewModel.Price)</th>
            <th scope="col">@nameof(AdminProductViewModel.Quantity)</th>
            <th scope="col">Times Ordered</th>
            <th scope="col">Categories</th>
            <th scope="col">@nameof(AdminProductViewModel.CreatedOn)</th>
            <th scope="col">@nameof(AdminProductViewModel.IsDeleted)</th>
            <th scope="col">Manage</th>
        </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < this.Model.Products.Count(); i++)
    {
        <tr>
            <th scope="row">@(i+1)</th>
            <partial name="_ProductsInTablePartial" model="this.Model.Products.ElementAt(i)"/>
        </tr>
    }
    </tbody>
</table>