@using DragonSouvenirs.Web.ViewModels.Administration.Products
@using System.Linq
@using DragonSouvenirs.Common
@using DragonSouvenirs.Data.Models
@model DragonSouvenirs.Web.ViewModels.Administration.Products.AdminProductEditViewModel
@{
    ViewData["Title"] = "Редактирай продукт";
    var categories = this.Model
        .AllCategoriesDropdown
        .Select(x => new SelectListItem(
            x.Title,
            x.Id.ToString()
            ));
}
<div class="container">
    <h3 class="m-4" align="center">@ViewData["Title"]</h3>
    <ul class="m-4">
        <li>
            Дата на създаване: <strong>@this.Model.CreatedOn.ToString("yyyy MMMM d", new System.Globalization.CultureInfo("bg-BG"))</strong>
        </li>
        <li>
            Последна промяна: <strong>@(Model.ModifiedOn?.ToString("yyyy MMMM d", new System.Globalization.CultureInfo("bg-BG")) ?? "Never")</strong>
        </li>
    </ul>
    <form enctype="multipart/form-data"
          asp-area="Administration"
          asp-controller="Products"
          asp-action="Edit"
          method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" value="@this.Model.Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" value="@this.Model.Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description">Описание</label>
            <input asp-for="Description" class="form-control" value="@this.Model.Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-2">
                <label asp-for="Price">Цена</label>
                <input asp-for="Price" class="form-control" value="@this.Model.Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group col-2">
                <label asp-for="DiscountPrice">Намалена цена</label>
                <input asp-for="DiscountPrice" class="form-control" />
                <span asp-validation-for="DiscountPrice" class="text-danger"></span>
            </div>
            <div class="form-group col-1">
                <label asp-for="Quantity">Количество</label>
                <input asp-for="Quantity" class="form-control" value="@this.Model.Quantity" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group col-1">
                <label asp-for="Height">Височина</label>
                <input asp-for="Height" class="form-control" value="@this.Model.Height" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group col-1">
                <label asp-for="Width">Дължина</label>
                <input asp-for="Width" class="form-control" value="@this.Model.Width" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
        </div>
        @for (int i = 0; i < GlobalConstants.Image.ImagesPerProduct; i++)
        {
    <div class="form-row">
        <div class="form-group col-sm-1">
            <img src="@(this.Model.Images[i].ImgUrl ?? CommonImageUrls.AdminPanel.AddProductImgImgUrl)" style="width: 4rem; height: 4rem;" />
        </div>
        <div class="form-group col-sm-1" align="center">
            <label asp-for="@this.Model.Images[i].ToDelete">Премахни</label>
            <input asp-for="@this.Model.Images[i].ToDelete" />
            <span asp-validation-for="@this.Model.Images[i].ToDelete" class="text-danger"></span>
        </div>
        <div class="form-group col-md-10">
            <input type="hidden" asp-for="@this.Model.Images[i].ImgUrl" value="@this.Model.Images[i].ImgUrl" />
            <input type="file" asp-for="@this.Model.Images[i].Image" />
            <span asp-validation-for="@this.Model.Images[i].Image" class="text-danger"></span>

            @*<label asp-for="@this.Model.Images[i].ImgUrl">Url</label>
            <input asp-for="@this.Model.Images[i].ImgUrl"
                   class="form-control"
                   value="@this.Model.Images[i].ImgUrl" />
            <span asp-validation-for="@this.Model.Images[i].ImgUrl"
                  class="text-danger"></span>*@
        </div>
    </div>
        }
        <div class="form-group" style="width: 10rem">
            <label asp-for="@this.Model.Categories[0].Name"> Категория</label>
            <select asp-for="@this.Model.Categories[0].Name"
                    asp-items="categories"
                    class="form-control">
                <option selected="selected" style="background-color: greenyellow" value="@(this.Model.Categories[0].Id)">@this.Model.Categories[0].Title</option>
            </select>
            <span asp-validation-for="@this.Model.Categories[0].Name" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="col-sm-1">
                <div>
                    <a asp-area="Administration"
                       asp-controller="Products"
                       asp-action="Index"
                       class="btn btn-secondary mb-2">Назад</a>
                </div>
            </div>
            <div class="form-group col-sm-1">
                <button type="submit" class="btn btn-custom">Редактирай</button>
            </div>
        </div>
    </form>
</div>