@using System.Linq
@using DragonSouvenirs.Web.ViewModels.Administration.Products
@model DragonSouvenirs.Web.ViewModels.Administration.Products.AllProductsViewModel

@if (this.TempData["fail"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @this.TempData["fail"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (this.TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @this.TempData["success"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<table class="table table-hover table-bordered text-center">
    <thead class="thead-dark">
    <tr class="text-center">
        <th scope="col">@this.Model.Products.Count()</th>
        <th scope="col">Снимка</th>
        <th scope="col">@nameof(AdminProductViewModel.Title)</th>
        <th scope="col">@nameof(AdminProductViewModel.Name)</th>
        <th scope="col">Цена</th>
        <th scope="col">Количество</th>
        <th scope="col">Бр. Поръчки</th>
        <th scope="col">Категории</th>
        <th scope="col">Дата на създаване</th>
        <th scope="col">Изтрит</th>
        <th scope="col">Менажирай</th>
    </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < this.Model.Products.Count(); i++)
    {
        <tr>
            <th scope="row">@(i+1)</th>
            <partial name="_ProductsInTablePartial" model="this.Model.Products.ElementAt(i)"/>
        </tr>
    }
    </tbody>
</table>