@model IEnumerable<DragonSouvenirs.Web.ViewModels.Components.CartProductsComponent.CartProductsViewModel>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="shoping__cart__table">
                <table>
                    <thead>
                        <tr>
                            <th class="shoping__product">Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in this.Model)
                        {
                            <tr class="align-text-top">
                                <td class="shoping__cart__item">
                                    <img src="@(product.ProductImages
                                                  .FirstOrDefault()?.ImgUrl ?? string.Empty)"
                                         width="90"
                                         alt="">
                                    <h5>
                                        <strong>@product.ProductName</strong>
                                        <span class="text-muted font-weight-normal font-italic d-block">
                                            @product.ProductProductCategories.FirstOrDefault()?.CategoryName
                                        </span>
                                    </h5>
                                    <h5 class="ml-lg-3">
                                        <strong>@product.ProductHeight х @product.ProductWidth см.</strong>
                                        <span class="text-muted font-weight-normal font-italic d-block">
                                            @product.ProductDescriptionShort
                                        </span>
                                    </h5>
                                </td>
                                <td class="shoping__cart__price">
                                    @if (product.ProductDiscountPrice == null)
                                    {
                                        @(product.ProductPrice + " лв.")
                                    }
                                    else
                                    {
                                        <span>@product.ProductPrice</span>
                                        @(product.ProductDiscountPrice + " лв.")
                                    }
                                </td>
                                <td class="shoping__cart__quantity">
                                    <strong>
                                        @product.Quantity бр.
                                    </strong>
                                </td>
                                <td class="shoping__cart__total">
                                    @product.TotalPrice лв.
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>