@using DragonSouvenirs.Common.Enums
@using DragonSouvenirs.Common
@model DragonSouvenirs.Web.ViewModels.Categories.CategoryPaginationInfo

<div class="d-flex">
    @if (this.Model.SearchString != null)
    {
        <h4 class="m-2">
            <a asp-route="shopRoute"
               class="badge badge-light">
                Търсене: @this.Model.SearchString
            </a>
        </h4>
    }
    @if (this.Model.MinPrice != null &&
         this.Model.MaxPrice != null)
    {
        <h4 class="m-2">
            <a asp-route="@(this.Model.CategoryName == null
                              ? GlobalConstants.Routes.ShopRoute
                              : GlobalConstants.Routes.CategoriesRoute)"
               asp-route-name="@this.Model.CategoryName"
               class="badge badge-light">
                Цена: @this.Model.MinPrice - @this.Model.MaxPrice лв.
            </a>
        </h4>
    }
</div>
<div class="filter__item">
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <div class="filter__sort">
                <select name="sortBy"
                        onchange="this.form.submit();">
                    <option value="1"
                            selected="@(this.Model.SortBy
                                        == SortBy.MostPopular ? true : false)">
                        Най-Популярни
                    </option>
                    <option value="2"
                            selected="@(this.Model.SortBy
                                        == SortBy.Newest ? true : false)">
                        Най-нови
                    </option>
                    <option value="3"
                            selected="@(this.Model.SortBy
                                        == SortBy.PriceAscending ? true : false)">
                        Цена (възх.)
                    </option>
                    <option value="4"
                            selected="@(this.Model.SortBy
                                        == SortBy.PriceDescending ? true : false)">
                        Цена (низх.)
                    </option>
                </select>
            </div>
        </div>
        <input name="searchString"
               type="hidden"
               value="@this.Model.SearchString" />
        <input name="minPrice"
               type="hidden"
               value="@this.Model.MinPrice" id="minamount" />
        <input name="maxPrice"
               type="hidden"
               value="@this.Model.MaxPrice" id="maxamount" />

        <div class="col-lg-4 col-md-4">
            <div class="filter__found">
                <h6><span>@Model.AllProductsCount</span> Намерени продукти</h6>
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            @if (this.Model.CurrentPage == 1)
            {
                <div class="filter__option">
                    <span>На страница </span>
                    <div class="filter__sort">
                        <select name="perPage"
                            onchange="this.form.submit();">
                            @for (int i = 3; i <= 12; i += 3)
                            {
                                <option value="@i"
                                selected="@(Model.ProductsPerPage == i ? true : false)">
                                    @i
                                </option>
                            }
                        </select>
                    </div>
                </div>
            }
        </div>
    </div>
</div>