@model DragonSouvenirs.Web.ViewModels.Categories.CategoryPaginationInfo

<div class="product__pagination" align="center">
    @if (this.Model.CurrentPage == 1)
    {
        <a class="myDisabledLink">
            <i class="fa fa-long-arrow-left"></i>
        </a>
    }
    else
    {
        <a asp-route="@this.Model.Route"
           asp-route-name="@this.Model.CategoryName"
           asp-route-page="@(this.Model.CurrentPage - 1)"
           asp-route-perPage="@this.Model.ProductsPerPage"
           asp-route-sortBy="@this.Model.SortBy"
           asp-route-minPrice="@this.Model.MinPrice"
           asp-route-maxPrice="@this.Model.MaxPrice">
            <i class="fa fa-long-arrow-left"></i>
        </a>
    }
    @for (var i = 1; i <= this.Model.PagesCount; i++)
    {
        var active = i == this.Model.CurrentPage
            ? "currentPage"
            : string.Empty;
                        
        <a class="@active"
           asp-route="@this.Model.Route"
           asp-route-name="@this.Model.CategoryName"
           asp-route-page="@i"
           asp-route-perPage="@this.Model.ProductsPerPage"
           asp-route-sortBy="@this.Model.SortBy"
           asp-route-minPrice="@this.Model.MinPrice"
           asp-route-maxPrice="@this.Model.MaxPrice">
            @i
        </a>
    }
    @if (this.Model.CurrentPage == this.Model.PagesCount)
    {
        <a class="myDisabledLink">
            <i class="fa fa-long-arrow-right"></i>
        </a>
    }
    else
    {
        <a asp-route="@this.Model.Route"
           asp-route-name="@this.Model.CategoryName"
           asp-route-page="@(this.Model.CurrentPage + 1)"
           asp-route-perPage="@this.Model.ProductsPerPage"
           asp-route-sortBy="@this.Model.SortBy"
           asp-route-minPrice="@this.Model.MinPrice"
           asp-route-maxPrice="@this.Model.MaxPrice">
            <i class="fa fa-long-arrow-right"></i>
        </a>
    }
</div>