@model DragonSouvenirs.Web.ViewModels.Categories.ProductInCategoryViewModel

<div class="col-lg-4 col-md-6 col-sm-6">
    <div class="product__item">
        <div class="product__item__pic set-bg"
             data-setbg="@Model.Images.FirstOrDefault()?.ImgUrl">
            <ul class="product__item__pic__hover">
                <li>
                    <form enctype="multipart/form-data"
                          asp-controller="Products"
                          asp-action="Favourite"
                          asp-route-name="@Model.NameLink"
                          method="post">
                        <button type="submit">
                            <i class="fa fa-heart"></i>
                        </button>
                    </form>
                </li>
                <li>
                    <a asp-controller="Products"
                       asp-action="ByName"
                       asp-route-name="@Model.NameLink">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                </li>
                <li>
                    <form enctype="multipart/form-data"
                          asp-controller="Cart"
                          asp-action="Add"
                          asp-route-id="@Model.Id"
                          asp-route-toCart="true"
                          method="post">
                        <button type="submit">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        @if (this.Model.Quantity < 1)
        {
            <div class="product__item__text">
                <a asp-controller="Products"
                   asp-action="ByName"
                   asp-route-name="@Model.NameLink">
                    <span>@Model.CategoryTitle</span>
                    <h6>
                        @Model.Title
                    </h6>
                    <h5 style="color: red;">
                        Продадено
                    </h5>
                </a>
            </div>
        }
        else if (this.Model.DiscountPrice != null)
        {
            <div class="product__discount__item__text">
                <a asp-controller="Products"
                   asp-action="ByName"
                   asp-route-name="@Model.NameLink"
               class="discountItemPrice">
                    <span>@Model.CategoryTitle</span>
                    <h6>
                        @Model.Title
                    </h6>
                    <h5 class="product__item__price">
                        <span>@Model.Price</span>
                        @Model.DiscountPrice
                        лв.
                    </h5>
                </a>
            </div>
        }
        else
        {
            <div class="product__item__text">
                <a asp-controller="Products"
                   asp-action="ByName"
                   asp-route-name="@Model.NameLink">
                    <span>@Model.CategoryTitle</span>
                    <h6>
                        @Model.Title
                    </h6>
                    <h5>
                        @Model.Price лв.
                    </h5>
                </a>
            </div>
        }
    </div>
</div>