@model DragonSouvenirs.Web.ViewModels.Cart.CartProductViewModel
<tr>
    <td class="shoping__cart__item">
        <img src="@(this.Model.ProductImages
                      .FirstOrDefault()?.ImgUrl ?? string.Empty)"
             width="90"
             alt="">
        <h5>
            <strong>@this.Model.ProductName</strong>
            <span class="text-muted font-weight-normal font-italic d-block">
                @this.Model.ProductProductCategories.FirstOrDefault()?.CategoryName
            </span>
        </h5>
    </td>
    <td class="shoping__cart__price">
        @if (this.Model.ProductDiscountPrice == null)
        {
            @(this.Model.ProductPrice + " лв.")
        }
        else
        {
            <span>@this.Model.ProductPrice</span>
            @(this.Model.ProductDiscountPrice + " лв.")
        }
    </td>
    <td class="shoping__cart__quantity">
        <div class="quantity">
            <form enctype="multipart/form-data"
                  method="post"
                  asp-controller="Cart"
                  asp-action="Edit"
                  asp-route-id="@this.Model.ProductId"
                  asp-route-quantity="quantity">
                <div class="pro-qty">
                    <input type="number"
                           min="1"
                           max="@this.Model.ProductQuantity"
                           id="quantity"
                           name="quantity"
                           value="@this.Model.Quantity" />

                </div>
                <span asp-validation-for="@this.Model.Quantity"
                      class="text-danger"></span>
                <button type="submit" class="btn btn-sm btn-primary">Edit</button>
            </form>
        </div>
    </td>
    <td class="shoping__cart__total">
        @this.Model.TotalPrice лв.
    </td>
    <td class="shoping__cart__item__close">
        <a asp-controller="Cart"
           asp-action="Remove"
           asp-route-id="@this.Model.ProductId">
            <span class="icon_close"></span>
        </a>
    </td>
</tr>