@model DragonSouvenirs.Web.ViewModels.Administration.Categories.AdminCategoryEditViewModel
@{
    ViewData["Title"] = "Редактирай категория";
}
<div class="container">
    <h3 class="m-4" align="center">@ViewData["Title"]</h3>
    <ul class="m-4">
        <li>
            Дата на създаване: <strong>@this.Model.CreatedOn.ToString("yyyy MMMM d", new System.Globalization.CultureInfo("bg-BG"))</strong>
        </li>
        <li>
            Последна промяна: <strong>@(Model.ModifiedOn?.ToString("yyyy MMMM d", new System.Globalization.CultureInfo("bg-BG")) ?? "Never")</strong>
        </li>
    </ul>

    <form enctype="multipart/form-data"
          asp-area="Administration"
          asp-controller="Categories"
          asp-action="Edit"
          method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" value="@this.Model.Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" value="@this.Model.Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Content">Съдържание</label>
            <input asp-for="Content" class="form-control" value="@this.Model.Content" />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-1">
                <img src="@this.Model.ImageUrl" style="width: 4rem; height: 4rem;" />
            </div>
            <div class="form-group col-md-11">
                <p>Снимка</p>
                <input type="file" asp-for="Image" name="Image" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-1">
                <div>
                    <a asp-area="Administration"
                       asp-controller="Categories"
                       asp-action="Index"
                       class="btn btn-secondary">Назад</a>
                </div>
            </div>
            <div class="form-group col-sm-1">
                <button type="submit" class="btn btn-custom">Редактирай</button>
            </div>
        </div>
    </form>
</div>