@using DragonSouvenirs.Common
@model DragonSouvenirs.Web.ViewModels.Home.IndexViewModel
@{ this.ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>

<hr/>
<div class="row" align="center">
    @foreach (var category in @Model.Categories)
    {
        <div class="col-md-4">
            <div>
                <a asp-controller="Categories" asp-action="ByName" asp-route-name="@category.Url">
                    <img src="@category.ImageUrl" class="mr-3" style="width: 15rem; height: 15rem;" alt="@category.Title">
                </a>
            </div>
            <div class="media-body">
                <h5 class="card-title">@category.Title</h5>
                <h6 class="card-text">@category.ProductCategoriesCount Налични продукта</h6>
                <p class="card-text">@category.Content</p>
            </div>
        </div>
    }
</div>
