@model IEnumerable<DragonSouvenirs.Web.ViewModels.Components.OrderProductsComponent.OrderProductsViewModel>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="shoping__cart__table">
                <table>
                    <thead>
                        <tr>
                            <th class="shoping__product">Продукти</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in this.Model)
                        {
                            <tr class="align-text-top">
                                <td class="shoping__cart__item">
                                    <img src="@(product.ProductImages
                                                  .FirstOrDefault()?.ImgUrl ?? string.Empty)"
                                         width="120"
                                         alt="">
                                    <h5>
                                        <strong>@product.ProductName</strong>
                                        <span class="text-muted font-weight-normal font-italic d-block">
                                            @product.ProductProductCategories.FirstOrDefault()?.CategoryTitle
                                        </span>
                                        <strong>@product.ProductHeight х @product.ProductWidth см.</strong>
                                        
                                    </h5>
                                    <span class="text-muted font-weight-normal font-italic d-block">
                                        @product.ProductDescriptionShort
                                    </span>
                                </td>
                                <td class="shoping__cart__price">
                                    @(product.ProductPrice + " лв.")
                                </td>
                                <td class="shoping__cart__quantity">
                                    <strong>
                                        @product.Quantity бр.
                                    </strong>
                                </td>
                                <td class="shoping__cart__total">
                                    @product.TotalPrice лв.
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>