@model IEnumerable<DragonSouvenirs.Web.ViewModels.Components.OrderProductsComponent.CartProductsViewModel>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Info</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Price</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in this.Model)
            {
                <tr>
                    <th scope="row" class="border-0">
                        <div>
                            <img src="@(product.ProductImages
                                      .FirstOrDefault()?.ImgUrl ?? string.Empty)"
                                 alt=""
                                 width="70"
                                 class="img-fluid rounded shadow-sm">
                            <div class="ml-3 d-inline-block align-middle">
                                <h5 class="mb-0">
                                    <a class="text-dark d-inline-block align-middle">
                                        @product.ProductName
                                    </a>
                                </h5>
                                <span class="text-muted font-weight-normal font-italic d-block">
                                    @product.ProductProductCategories.FirstOrDefault()?.CategoryName
                                </span>
                            </div>
                        </div>
                    </th>
                    <td class="border-0 align-middle">
                        <strong>
                            @product.ProductHeight х @product.ProductWidth см.
                        </strong>
                    </td>
                    <td class="border-0 align-middle">
                        <strong>@product.ProductPrice x @product.Quantity = @product.TotalPrice лв.</strong>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="border-0 float-right mr-5">
        <strong>
            Total : @Model.Sum(m => m.TotalPrice) лв.
        </strong>
    </div>
</div>