@using DragonSouvenirs.Common.Enums
@using DragonSouvenirs.Web.Components
@model DragonSouvenirs.Web.ViewModels.Categories.ShopViewModel
@{
    var breadCrumbItem = "Магазин";
}
@await Component.InvokeAsync("HeroComponent" , new
{
    minPrice = this.Model.CategoryPaginationInfo.MinPrice,
    maxPrice = this.Model.CategoryPaginationInfo.MaxPrice,
    sortBy = this.Model.CategoryPaginationInfo.SortBy,
    currentPage = this.Model.CategoryPaginationInfo.CurrentPage,
    productsPerPage = this.Model.CategoryPaginationInfo.ProductsPerPage,
})
<partial name="Partials/_BreadcrumbPartial" model="breadCrumbItem" />


<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    @await this.Component.InvokeAsync("ExtendedFilterComponent", new
                    {
                        searchString = this.Model.CategoryPaginationInfo.SearchString,
                    })
                    @await this.Component.InvokeAsync(typeof(LatestProductsComponent))
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                @if (!this.Model.Products.Any() && this.Model.CategoryPaginationInfo.SearchString != null)
                {
                    <p align="center">Няма намерени продукти, съдържащи думата "@this.Model.CategoryPaginationInfo.SearchString"</p>

                    <div class="col-lg-12">
                        <div class="shoping__cart__btns">
                            <a asp-controller="Home"
                               asp-action="Index"
                               class="primary-btn cart-btn">НАЧАЛО</a>
                        </div>
                    </div>
                }
                else
                {
                    <form asp-route="shopRoute"
                          asp-route-minPrice="@this.Model.CategoryPaginationInfo.MinPrice"
                          asp-route-maxPrice="@this.Model.CategoryPaginationInfo.MaxPrice"
                          asp-route-searchString="@this.Model.CategoryPaginationInfo.SearchString"
                          method="get"
                          id="form-id">
                        <partial name="Partials/_FilterProductsPartial" model="@this.Model.CategoryPaginationInfo"/>
                    </form>
                    <div class="row">
                        @foreach (var product in @Model.Products)
                        {
                            <partial name="Partials/_ProductsInCategoryPartial" model="product" />
                        }
                    </div>
                    <partial name="Partials/_PaginationPartial"
                             model="this.Model.CategoryPaginationInfo" />
                }
            </div>
        </div>
    </div>
</section>
