@using DragonSouvenirs.Data.Models.Enums
@model DragonSouvenirs.Web.ViewModels.Administration.Orders.OrderViewModel

<td>@this.Model.ShippingAddressShort</td>
<td>@this.Model.UserEmail</td>
<td>@this.Model.UserFullName</td>
<td>@this.Model.TotalPrice</td>
<td>@this.Model.CreatedOn.ToString("g")</td>
<td>
    <div class="d-inline-block" style="width: 18rem;">
        <form class="form-check-inline" 
            method="post"
              asp-area="Administration"
              asp-controller="Orders"
              asp-action="ChangeStatus"
              asp-route-orderId="@Model.Id">
                <select asp-for="@this.Model.OrderStatus"
                        asp-items="@Html.GetEnumSelectList<OrderStatus>()"
                        class="form-control">
                    <option selected="selected" value="@this.Model.OrderStatus"></option>
                </select>
            <button type="submit" class="btn btn-danger ml-2">Go</button>
        </form>
    </div>
</td>
<td>
    <div class="d-flex flex-row justify-content-center">
        <div class="p-2">
            <a class="btn btn-warning"
               asp-area="Administration"
               asp-controller="Orders"
               asp-action="Details"
               asp-route-id="@Model.Id">Details</a>
        </div>
        @*<div class="p-2">
                <a class="btn btn-danger"
                   asp-area="Administration"
                   asp-controller="Orders"
                   asp-action="Process"
                   asp-route-id="@Model.Id">Process</a>
            </div>*@
    </div>
</td>