@using DragonSouvenirs.Web.Components
@using DragonSouvenirs.Data.Models.Enums
@model DragonSouvenirs.Web.ViewModels.Administration.Orders.OrderDetailsViewModel
@{
    ViewData["Title"] = "Детайли на поръчка";
}
<h2 class="m-4" align="center">@ViewData["Title"]</h2>

@await Component.InvokeAsync(typeof(OrderProductsComponent),
    new { userId = Model.UserId, orderId = Model.Id })

<div class="row py-5 p-4 bg-white rounded shadow-sm justify-content-center text-center">
    <div class="col-lg-6">
        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Обобщение</div>
        <div class="p-4">
            <ul class="list-unstyled mb-4 m-sm-5">
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Име и Фамилия</strong>
                    <h5>@Model.ClientFullName</h5>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Имейл</strong>
                    <h5>@Model.UserEmail</h5>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Тел. номер</strong>
                    <h5>@Model.InvoiceNumber</h5>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Адрес на доставка</strong>
                    <h5>@Model.ShippingAddress</h5>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Вид доставка</strong>
                    <h5>@Model.DeliveryType</h5>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Куриер</strong>
                    <h5>@Model.OfficeBrand</h5>
                </li>
                @if (@Model.Notes != null)
                {
                    <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Доп. информация</strong>
                        <h5>@Model.Notes</h5>
                    </li>
                }
                @if (this.Model.OrderStatus == OrderStatus.Completed)
                {
                    <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Дата на доставка</strong>
                        <h5>@Model.DateOfDelivery?.ToString("yyyy MMMM d", new System.Globalization.CultureInfo("bg-BG"))</h5>
                    </li>
                }
                else
                {
                    <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Очаквана дата за доставка</strong>
                        <h5>@Model.ExpectedDeliveryDate.ToString("yyyy MMMM d", new System.Globalization.CultureInfo("bg-BG"))</h5>
                    </li>
                }
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Цена </strong>
                    <h5>@($"{Model.TotalPrice:f2}") лв.</h5>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Доставка</strong>
                    <h5>@Model.DeliveryPrice лв.</h5>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                    <strong class="text-muted">Total</strong>
                    <h5 class="font-weight-bold">
                        @($"{(Model.TotalPrice + Model.DeliveryPrice):f2}") лв.
                    </h5>
                </li>
            </ul>
            <div>
                @if (this.Model.OrderStatus == OrderStatus.Completed)
                {
                    <a class="btn btn-dark rounded-pill py-2 btn-block"
                       asp-area="Administration"
                       asp-controller="Orders"
                       asp-action="Completed">
                        Назад
                    </a>
                }
                else
                {
                    <a class="btn btn-dark rounded-pill py-2 btn-block"
                       asp-area="Administration"
                       asp-controller="Orders"
                       asp-action="Index">
                        Назад
                    </a>
                }
            </div>
        </div>
    </div>
</div>