@using DragonSouvenirs.Web.ViewModels.Administration.Orders
@model DragonSouvenirs.Web.ViewModels.Administration.Orders.AllOrdersViewModel
@{
    this.ViewData["Title"] = "Administration";
}
<div class="container">
    @if (this.TempData["fail"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @this.TempData["fail"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @if (this.TempData["success"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @this.TempData["success"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <table class="table table-hover table-bordered text-center">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">@this.Model.Orders.Count()</th>
                <th scope="col">Delivery</th>
                <th scope="col" class="w-100">Office</th>
                <th scope="col" class="w-100">Shipping Address</th>
                <th scope="col">Email</th>
                <th scope="col">Full name</th>
                <th scope="col">@nameof(OrderViewModel.TotalPrice)</th>
                <th scope="col">@nameof(OrderViewModel.CreatedOn)</th>
                <th scope="col">@nameof(OrderViewModel.OrderStatus)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < this.Model.Orders.Count(); i++)
            {
                    <tr>
                        <th scope="row">@(i+1)</th>
                        <partial name="_OrdersInTablePartial" model="this.Model.Orders.ElementAt(i)" />
                    </tr>
            }
        </tbody>
    </table>
</div>