@using DragonSouvenirs.Common
@model IEnumerable<DragonSouvenirs.Web.ViewModels.Components.CartProductsSimpleComponent.CartProductsSimpleViewModel>

<h4>Your Order</h4>
<div class="checkout__order__products">Products <span>Total</span></div>
<ul>
    @foreach (var carProduct in this.Model)
    {
        <li>@carProduct.ProductName<span>@(carProduct.TotalPrice) лв.</span></li>
    }
</ul>
<div class="checkout__order__subtotal">
    Subtotal <span>@Model.Sum(m => m.TotalPrice) лв.</span>
    <br />
    Delivery price <span>@GlobalConstants.Order.DeliveryPrice лв.</span>
</div>
<div class="checkout__order__total">Total <span>@(Model.Sum(m => m.TotalPrice)+GlobalConstants.Order.DeliveryPrice) лв.</span></div>
<div class="checkout__input__checkbox">
    <label for="payment">
        Check Payment
        <input type="checkbox" id="payment">
        <span class="checkmark"></span>
    </label>
</div>
<div class="checkout__input__checkbox">
    <label for="paypal">
        Paypal
        <input type="checkbox" id="paypal">
        <span class="checkmark"></span>
    </label>
</div>