@using DragonSouvenirs.Common
@model DragonSouvenirs.Web.ViewModels.Components.CartProductsSimpleComponent.CartViewModel

<h4>Your Order</h4>
<div class="checkout__order__products">Products <span>Total</span></div>
<ul>
    @foreach (var carProduct in this.Model.Products)
    {
        <li>
            @carProduct.ProductName
            <span>лв.</span>
            <span>@(carProduct.TotalPrice) </span>
            @if (carProduct.ProductDiscountPrice != null)
            {
                <span class="beforeDiscount">
                    @carProduct.TotalPriceBeforeDiscounts
                </span>
            }
        </li>
    }
</ul>
<div class="checkout__order__subtotal">
    Subtotal <span>@Model.TotalPriceBeforeDiscounts лв.</span>
    <br />
    Delivery price <span>@GlobalConstants.Order.DeliveryPrice лв.</span>
    <br/>
    Discounts <span>@(Model.TotalPriceBeforeDiscounts-Model.TotalPrice) лв.</span>
</div>
<div class="checkout__order__total">Total <span>@(Model.TotalPrice+GlobalConstants.Order.DeliveryPrice) лв.</span></div>
<div class="checkout__input__checkbox">
    <label for="payment">
        Check Payment
        <input type="checkbox" id="payment">
        <span class="checkmark"></span>
    </label>
</div>
<div class="checkout__input__checkbox">
    <label for="paypal">
        Paypal
        <input type="checkbox" id="paypal">
        <span class="checkmark"></span>
    </label>
</div>