@model DragonSouvenirs.Web.ViewModels.Administration.ApplicationUserViewModel

<td>@this.Model.UserName</td>
<td>@this.Model.FullName</td>
<td>@this.Model.Email</td>
<td>@this.Model.DefaultShippingAddress</td>
<td>@this.Model.CreatedOn</td>
<td>
    <input asp-for="@this.Model.IsDeleted"
           type="checkbox"
           disabled="disabled">
</td>
<td>
    <a class="btn btn-danger"
       asp-controller="Users"
       asp-action="ConfirmBan"
       asp-route-id="@this.Model.Id">Ban</a>
    <a class="btn btn-success"
       asp-controller="Users"
       asp-action="Unban"
       asp-route-id="@this.Model.Id">Unban</a>
</td>
