@using DragonSouvenirs.Web.ViewModels.Administration.Users
@using System.Linq
@model DragonSouvenirs.Web.ViewModels.Administration.Users.AllUsersViewModel
@{
    this.ViewData["Title"] = $"Users ({this.Model.Users.Count()})";
}
<h1>@this.ViewData["Title"]</h1>

@if (this.TempData["fail"] != null)
{
    <div class="alert alert-danger" role="alert">
        @this.TempData["fail"]
    </div>
}
@if (this.TempData["success"] != null)
{
    <div class="alert alert-success" role="alert">
        @this.TempData["success"]
    </div>
}
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Fullname</th>
            <th scope="col">@nameof(ApplicationUserViewModel.Email)</th>
            <th scope="col">Shipping Address</th>
            <th scope="col">@nameof(ApplicationUserViewModel.CreatedOn)</th>
            <th scope="col">@nameof(ApplicationUserViewModel.ModifiedOn)</th>
            <th scope="col">@nameof(ApplicationUserViewModel.IsDeleted)</th>
            <th scope="col">Manage</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < this.Model.Users.Count(); i++)
        {
            <tr class="text-center">
                <th scope="row">@(i+1)</th>
                <partial name="_UserInTablePartial" model="this.Model.Users.ElementAt(i)" />
            </tr>
        }
    </tbody>
</table>