@model DragonSouvenirs.Web.ViewModels.Administration.Users.ApplicationUserEditViewModel
@{
    ViewData["Title"] = "Редактирай потребител";
}

<div class="container">
    <h3 class="m-4" align="center">@ViewData["Title"]</h3>
    <ul class="m-4">
        <li>
            Дата на създаване: <strong>@this.Model.CreatedOn.ToString("yyyy MMMM d", new System.Globalization.CultureInfo("bg-BG"))</strong>
        </li>
        <li>
            Последна промяна: <strong>@(Model.ModifiedOn?.ToString("yyyy MMMM d", new System.Globalization.CultureInfo("bg-BG")) ?? "Never")</strong>
        </li>
    </ul>

    <form enctype="multipart/form-data"
          asp-area="Administration"
          asp-controller="Users"
          asp-action="Edit"
          method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="UserName">Username</label>
                <input asp-for="UserName" class="form-control" value="@this.Model.UserName">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="FullName">Име и Фамилия</label>
                <input asp-for="FullName" class="form-control" value="@this.Model.FullName">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email">Имейл</label>
            <input asp-for="Email" class="form-control" value="@this.Model.Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input disabled asp-for="DefaultShippingAddress" class="form-control" value="@this.Model.DefaultShippingAddress" />
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="checkout__input">
                    <label asp-for="@Model.City">Град<span>*</span></label>
                    <input class="checkout__input__add"
                           type="text"
                           asp-for="@Model.City"
                           value="@Model.City">
                    <span asp-validation-for="@Model.City" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="checkout__input">
                    <label asp-for="@Model.Neighborhood">Квартал<span>*</span></label>
                    <input class="checkout__input__add"
                           type="text"
                           asp-for="@Model.Neighborhood"
                           value="@Model.Neighborhood">
                    <span asp-validation-for="@Model.Neighborhood" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="checkout__input">
                    <label asp-for="@Model.Street">Улица<span>*</span></label>
                    <input class="checkout__input__add"
                           type="text"
                           asp-for="@Model.Street"
                           value="@Model.Street">
                    <span asp-validation-for="@Model.Street" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="checkout__input">
                    <label asp-for="@Model.StreetNumber">Номер<span>*</span></label>
                    <input class="checkout__input__add"
                           type="text"
                           asp-for="@Model.StreetNumber"
                           value="@Model.StreetNumber">
                    <span asp-validation-for="@Model.StreetNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="checkout__input">
                    <label asp-for="@Model.ApartmentBuilding">Блок</label>
                    <input class="checkout__input__add"
                           type="text"
                           asp-for="@Model.ApartmentBuilding"
                           value="@Model.ApartmentBuilding">
                    <span asp-validation-for="@Model.ApartmentBuilding" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="checkout__input">
                    <label asp-for="@Model.Entrance">Вход</label>
                    <input class="checkout__input__add"
                           type="text"
                           asp-for="@Model.Entrance"
                           value="@Model.Entrance">
                    <span asp-validation-for="@Model.Entrance" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="checkout__input">
                    <label asp-for="@Model.Floor">Етаж<span>*</span></label>
                    <input class="checkout__input__add"
                           type="text"
                           asp-for="@Model.Floor"
                           value="@Model.Floor">
                    <span asp-validation-for="@Model.Floor" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="checkout__input">
                    <label asp-for="@Model.ApartmentNumber">Ап.<span>*</span></label>
                    <input class="checkout__input__add"
                           type="text"
                           asp-for="@Model.ApartmentNumber"
                           value="@Model.ApartmentNumber">
                    <span asp-validation-for="@Model.ApartmentNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="PersonalDiscountPercentage">Персонално намаление %</label>
                    <input asp-for="PersonalDiscountPercentage" class="form-control" value="@this.Model.PersonalDiscountPercentage">
                    <span asp-validation-for="PersonalDiscountPercentage" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-1">
                <div>
                    <a asp-area="Administration"
                       asp-controller="Users"
                       asp-action="Index"
                       class="btn btn-secondary mb-2">Назад</a>
                </div>
            </div>
            <div class="form-group col-sm-1">
                <button type="submit" class="btn btn-custom">Редактирай</button>
            </div>
        </div>
    </form>
</div>