@model DragonSouvenirs.Web.ViewModels.Administration.Users.ApplicationUserEditViewModel
@{
    ViewData["Title"] = "Edit user";
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <ul>
        <li>
            Created on: <strong>@this.Model.CreatedOn.ToString("yyyy MMMM dd")</strong>
        </li>
        <li>
            Last Modified: <strong>@(Model.ModifiedOn?.ToString("yyyy MMMM dd") ?? "Never")</strong>
        </li>
    </ul>
    <form enctype="multipart/form-data"
          asp-area="Administration"
          asp-controller="Users"
          asp-action="Edit"
          method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="UserName">Username</label>
                <input asp-for="UserName" class="form-control" value="@this.Model.UserName">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="FullName">Fullname</label>
                <input asp-for="FullName" class="form-control" value="@this.Model.FullName">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" value="@this.Model.Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DefaultShippingAddress">Shipping Address</label>
            <input asp-for="DefaultShippingAddress" class="form-control" value="@this.Model.DefaultShippingAddress" />
            <span asp-validation-for="DefaultShippingAddress" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-1">
                <div>
                    <a asp-area="Administration"
                       asp-controller="Users"
                       asp-action="All"
                       class="btn btn-secondary">Back</a>
                </div>
            </div>
            <div class="form-group col-sm-1">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </form>
</div>